<script>
// NOTES
// 
// ** FUNCTIONS **
// functions can be created several ways:
// var funName = function(){};
// this must be created before it can be called in code.
// function funName(){};
// when defined in the way, the function can be created 
// after it is called and wil still work
//
// ** LOOPS **
// myArr.forEach(function(coin, index){ do stuff};
// myArr also keeps track of the index of its elements
// which can be called if it assigned a name
//
// for(var x in someArray){}; will iterate over the
// *properties* of an array instead of the array itself
// the preferred way to iterate through a loop is with
// (var i = 0; i<aarr.length; i++) or arr.forEach
//
// ** CLOSURE **
// a closure is a function that accesses variables
// that were neither passed in nor defined
//
// ** this AND FUNCTIONS **
// ways to call a function:
//   -method style:     cat.meow();
//   -function style:   catMeow();  // must be defined 
//   -call/apply style: meow.apply(cat);
//   -constuctor style: var cat = new Cat();
//
// when calling a method using 'method style', *this* is 
// by default set to the object on the left, eg cat.meow();
// 
// Every function is an object of class Function, and thus has its own
// set of methods. One such method is bind, which binds functions that 
// use 'this' to objects.
// Here is what bind's definition would look like:
//
// Function.prototype.myBind = function(obj){
//	var fn = this;
// return function (){
//   fn.apply(obj);
//   }
// }
// so you can now say either cat.meow(); or meow.bind(cat);



function Cat(name, owner) {
	this.name = name;
	this.owner = owner;
} 
Cat.prototype.cuteStatement = function(){
	return this.owner + ' loves ' + this.name + '!';
}

Cat.prototype.meow = function() {
	return 'meow';
};

var abe = new Cat('abe','david');
var jim = new Cat('jim','david');

abe.meow = function(){
	return 'Moo?'
}
</script>
<script>
function Student(first, last){
	this.first = first;
	this.last = last;
	this.courses = []
};

Student.prototype.name = function() {
	return this.first + ' ' + this.last
};

Student.prototype.enroll = function(course) {
	if(this.courses.indexOf(course) === -1){
		this.courses.push(course);
		course.addStudent(this);
	}
};

Student.prototype.courseLoad = function(){
	var returnHash = {}
	for(var i in this.courses){
		var dept = this.courses[i].department;
		var credit = this.courses[i].numCredits;

		if(Object.keys(returnHash).indexOf(dept) === -1){
			returnHash[dept] = credits;
		} else{
			returnHash[dept] += credits;
		}
	}
	return returnHash;
}


function Course(name, department, numCredits){
	this.name = name;
	this.department = department;
	this.numCredits = numCredits;
	this.students = [];
}

Course.prototype.addStudent = function(student) {
	this.students.push(student);
	if(student.courses)
};

abe = new Student('abe','anderson');
bob = new Student('bob','benson');
math = new Course('math 101', 'Math', 3);
eng = new Course('lit 101', 'English', 4);
calc = new Course('math 301', 'Math', 5);

</script>