<form action="/session" method="POST">
  <input type="hidden" name="_method" value="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for='user[email]'>Email</label>
  <input type="text" name="user[email]" value="<%= user.email %>">
  <br>

  <label for='user[password]'>Password</label>
  <input type="password" name="user[password]" value="<%= user.password %>">
  <br>
  
  <input type="submit" value="Log In">  
</form>