<% form_type = (cat.persisted? ? "PATCH" : "POST") %>
<% form_action = (cat.persisted? ? cat_url(cat) : "/cats") %>
<% submit_field = (cat.persisted? ? "Update your cat" : "Save your cat") %>


<form action="<%= form_action %>" method="POST">
  <input type="hidden" name="_method" value=<%= form_type %>>

  <input type="text" name="cat[name]" value="<%= cat.name %>">
  <br>
  
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F" <%= "checked" if cat.sex == 'F' %>>
  <label for="cat_sex_female">Female</label>
  <br>
  
  <input type="radio" name="cat[sex]" id="cat_for_male" value="M" <%= "checked" if cat.sex == 'M' %>> 
  <label for="cat_sex_male">Male</label>
   <br>
  
  <select name="cat[color]" id="cat_color">
    <option value="">Blank</option>
    <%= Cat::COLORS.each do |color| %>
      <option value="<%= color %>" <%= "selected" if cat.color == color %>>
        <%= color.capitalize %></option>
    <% end %>
  </select>
  <br>
  
  <input type="date" name="cat[birth_date]" value=<%= cat.birth_date %>>
  <br>
  <textarea rows="3" cols="50" name="cat[description]" placeholder="Tell us about cat" id="cat_description"><%= cat.description %></textarea> 
  <br>
  
  <input type="submit" value=<%= submit_field %>>  
</form>