<h1><%= @cat.name %></h1>

<table>
  <% @cat.attributes.each do |key, val| %>
  <tr>
  <td><%= key %>: </td>
  <td><%= val %></td>
  </tr>
  <% end %>
  <tr><td></td></tr>
  <% @cat.cat_rental_requests.order("start_date").each_with_index do |request,i| %>
  <tr>
    <td><%= i+1 %></td>
    <td>Start Date: <%= request.start_date  %></td>
    <td>End Date: <%= request.end_date  %></td>
    <td>Status: <%= request.status  %></td>
    
    <% if request.status == 'PENDING' %>
    <td><%= button_to "Deny", cat_rental_requests_url , method: :post %></td>
    <td><%= button_to "Approve", cat_rental_requests_url , method: :post %></td>
    <% end %>
  </tr>
  <% end %>
</table>