<% method = (album.persisted? ? 'PATCH' : 'POST') %>
<% action = (album.persisted? ? album_url(album) : albums_url) %>
<% text = (album.persisted? ? 'Update' : 'Create') %>
<h1><%= text %> Album</h1>
<form action="<%= action %>" method='POST'>
<input type='hidden' name='_method' value='<%= method %>'>
 <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
<label for='album[title]'>Title</label>
<input type='text' name='album[title]' value='<%= album.title %>'>
<br>

<label for='Band'>Band</label>
<select name='album[band_id]'>
	<% Band.all.each do |band| %>
		<option value='<%= band.id %>' 
		<%= 'selcted' if album.persisted? && album.band_id = band.id %>>
		<%= band.name %>
		</option>
	<% end %>
</select>
<br>

<label for='buttons'>Album Type</label>
<% Album::PERFORMANCE_TYPES.each do |p_type| %>
	<input type='radio' 
		name='album[performance_type]' 
		value='<%= p_type %>'
		<%= 'checked' if album.persisted? && album.performance_type == p_type %>>
		<%= p_type %>
<% end %>
<br>

<input type='submit' value='<%= text %>'>
</form>