<h1><%= @album.title %> Tracks</h1>

<ul>
<% @album.tracks.sort_by{ |t| t.track_number||0 }.each do |track| %>
<li><%= link_to track.title, track_url(track) %>
<% end %>
</ul>
<%= button_to "Delete", album_url(@album), method: :delete %>
<%= button_to "Edit Album", edit_album_url(@album), method: :get %>
<%= button_to "Band", band_url(@album.band_id), method: :get %>
<%= button_to "Add new", new_album_track_url(@album), method: :get %>