<% method = (band.persisted? ? 'PATCH' : 'POST') %>
<% action = (band.persisted? ? band_url(band) : bands_url) %>
<% text = (band.persisted? ? 'Update' : 'Create') %>
<h1><%= text %> Band</h1>
<form action="<%= action %>" method='POST'>
<input type='hidden' name='_method' value='<%= method %>'>
 <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
 <label for='name'>Name</label>
<input type='text' name='band[name]' value='<%= band.name %>'>
<input type='submit' value='<%= text %>'>
</form>