<h1><%= @band.name %> Albums</h1>
<ul>
<% @band.albums.each do |album| %>
<li><%= link_to album.title, album_url(album) %></li>
<% end %>
</ul>
<%= button_to "Delete", band_url(@band), method: :delete %>
<%= button_to "Edit Band", edit_band_url(@band), method: :get %>
<%= button_to "Add new", new_band_album_url(@band), method: :get %>