<h1> All Articles </h1>

<ul id="Articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article), class: "article_title" %>
		</li>
	<% end %>
	<%= link_to "Create a new article", new_article_path, class: 'new_article' %>

</ul>