<h1> <%= @article.title %> </h1>
<p> <%= @article.body %> </p>
<%= button_to "delete", article_path(@article), method: :delete, data: { confirm: "Really delete this?" } %>
<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "<< Back to all articles", articles_path %>
