<h1> New user </h1>
<form action="<%= users_url %>" method="POST">
  <%= render "layouts/form" %>
  
  <label for='username'>username</label>
  <input id='username' type='text' name='user[username]' value='<%= @user.username %>'><br>
  
  <label for='password'>password</label>
  <input id='password' type='password' name='user[password]'><br>
  
  <input type="submit" value='Create User'>
  
</form>