<ul class="goal-list">
  <% @user.goals.each do |goal| %>
    <% if @user == current_user || goal.privacy == 'public' %>
      <li class="goal-item"><%= goal.body %>
        <% if signed_in? && @user.id == current_user.id %>
          <%= button_to("Edit Goal", edit_goal_url(goal), method: :get) %>
          <%= button_to("Delete Goal", goal_url(goal), method: :delete) %>
        <% end  %>
        <% if signed_in? %>
          <%= render 'comments/comment_form', parent: goal %>
        <% end %>
        <ul>
          <% goal.comments.each do |comment| %>
            <li><%= comment.author.username %>: <%= comment.body %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <% end %>
</ul>
<% if signed_in? && @user.id == current_user.id %>
  <%= button_to "Create Goal", new_goal_url, method: :get %>
<% end %>

<% if signed_in? %>
  <%= render 'comments/comment_form', parent: @user %>
<% end %>

<ul>
  <% @user.comments.each do |comment| %>
    <li><%= comment.author.username %>: <%= comment.body %></li>
  <% end %>
</ul>