<% action, method, text = goal.persisted? ?
[goal_url(goal), "PATCH", "Update Goal"] :
[goals_url, "POST", "Submit Goal"] %>
<form action='<%= action %>' method='post'>
  <input type='hidden' name='_method' value='<%= method %>'>

  <%= render 'layouts/form' %>
  <label for='body'></label>
  <textarea id='body' name='goal[body]' ><%= goal.body %></textarea>
  <input type="radio" name='goal[privacy]' value='public' id='public' <%= 'checked' if goal.privacy == 'public' %>>public</input>
  <input type="radio" name='goal[privacy]' value='private' id='private' <%= 'checked' if goal.privacy == 'private' %>>private</input>
  
  <input type='submit' value='<%= text %>'>
  
</form>
  
