<% method = (track.persisted? ? 'PATCH' : 'POST') %>
<% action = (track.persisted? ? track_url(track) : tracks_url) %>
<% text = (track.persisted? ? 'Update' : 'Create') %>

<h1><%= text %> Track</h1>

<form action="<%= action %>" method='POST'>
<input type='hidden' name='_method' value='<%= method %>'>
<input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">

<label for='track[title]'>Title</label>
<input type='text' name='track[title]' value='<%= track.title %>'>
<br>

<label for='track[track_number]'>Track Number</label>
<input type='number' name='track[track_number]' min='0' max='100' value='<%= track.track_number %>'>
<br>


<label for='album'>Album</label>
<select name='track[album_id]'>
	<% Album.all.each do |album| %>
		<option value='<%= album.id %>' 
		<%= 'selcted' if track.persisted? && track.album_id = album.id %>>
		<%= album.title %>
		</option>
	<% end %>
</select>
<br>

<label for='buttons'>Track Type</label><br>
		<input type='radio' 
		name='track[bonus]' 
		value='true'
		<%= 'checked' if track.persisted? && track.bonus == true  %>>
		Bonus
		<input type='radio' 
		name='track[bonus]' 
		value='false'
		<%= 'checked' if track.persisted? && track.bonus == false  %>>
		Regular
<br>

<label for='track[lyrics'>Lyrics</label><br>
<textarea name='track[lyrics]' placeholder='Add some lyrics'><%= track.lyrics %>
</textarea>
<br>

<input type='submit' value='<%= text %>'>
</form>