<table>
	<tr>
		<td>Title</td>
		<td><%= @track.title %></td>
	</tr>
	<tr>
		<td>Album</td>
		<td><%= @track.album.title %></td>
	</tr>
	<tr>
		<td>Type</td>
		<td><%= @track.bonus ? 'Bonus' : 'Regular' %></td>
	</tr>
	<tr>
		<td>Track Number</td>
		<td><%= @track.track_number %></td>
	</tr>
	<tr>
		<td>Lyrics</td>
		<td><pre><%=h ugly_lyrics(@track.lyrics).html_safe %></pre></td>
	</tr>
	<%= render "/notes/note" %>
	<tr>
		<td></td>
		<td><%= render "/notes/form", note: Note.new %></td>
	</tr>
</table>
<%= button_to "Delete", track_url(@track), method: :delete %>
<%= button_to "Edit", edit_track_url(@track), method: :get %>
<%= button_to "Album", album_url(@track.album_id), method: :get %>