<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= flash.now[:errors] %>
<% if current_user %>
<%= button_to "log out", session_url, method: :delete  %>
<% end %>
<%= yield %>

</body>
</html>
