<h2>New Tweet!</h2>
<form class="tweet-compose" data-tweets-ul="feed"> 
  <label>
    Content
    <textarea name="tweet[content]" id="tweet-content" maxlength="140" rows="5" cols="40"></textarea>
  </label>
  <br>

  <label>Mention</label>
    <script type="text/template">   
      <div> 
        <select name="tween[mentioned_user_ids]" id="mentioned-user-ids">
          <option></option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.username %></option>
          <% end %>
        </select>
        <a href="javascript:void(0)" class="remove-mentioned-user">Remove User</a>
      </div>
    </script>
    <a href="javascript:void(0)" class="add-mentioned-user">Add mention</a>
    <div id="mentioned-users">
    </div>
  <br>
  
  <p>Chars left: <strong class="chars-left">140</strong></p>
  <button id="tweet-submit" type="submit">Post Tweet!</button>
</form>
