<!-- display a comment and have the partial iterate through the #child_comments, recursively rendering the partial for each nested comment. -->
<ul>
	<% comments.each do |comment| %>
			<li><%= comment.author.username %>: <%= comment.content %><br>
				<%= link_to "Reply", comment_url(comment) %>
				<% unless comment.post.comments_by_parent_id[comment.id].empty? %>
					<%= render "comments/comment", comments: comment.post.comments_by_parent_id[comment.id] %>
				<% end %>
			</li>
	<% end %>
</ul>