
<form action="<%= comments_url %>" method="POST">
  <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= parent_comment_id || nil %>">
  <input type="hidden" name="comment[post_id]" value="<%= params[:post_id] %>">

 <table>
   <tr>
     <th>Comment:</th>
     <td>
     	<textarea name="comment[content]" autofocus><%= comment.content %></textarea>
     </td>
   <tr>
     <td colspan="2"><input type="submit" value="Post"></td>
   </form>
 </table>