<%# form_type = (user.persisted? ? "PATCH" : "POST") %>
<%# form_action = (user.persisted? ? users_url(user) : "/users") %>
<%# submit_field = (user.persisted? ? "Update your user" : "Save your cat") %>


<form action="/users" method="POST">
  <input type="hidden" name="_method" value="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="text" name="user[email]" value="<%= user.email %>">
  <br>
  <input type="password" name="user[password]" value="<%= user.password %>">
  <br>
  
  <input type="submit" value="Create New User">  
</form>