<script type="text/template" id="pokemon-list-item-template">
  <%%="<li class='poke-list-item' data-id='" + pokemon.id + "'>"%> 

  <%% var shortInfo = ['name', 'poke_type']; %>
  <%% shortInfo.forEach(function (attr) { %>
    <%%= attr + ': ' + pokemon.get(attr) + '<br>' %>
  <%% });%>
</script>

<script type="text/template" id="pokemon-detail-template">
  <div class="detail">
    <%%= "<img src='" + pokemon.escape('image_url') + "'></img>" %>
    <%% for (var attr in pokemon.attributes) { %>
      <%% if (pokemon.get(attr) && attr !== 'id' && attr !== 'image_url') { %>
        <%%= "<span style='font-weight:bold'>" +  attr + ":</span> " + pokemon.escape(attr) + '<br>' %>
      <%% } %>
    <%% } %>
  </div>
  <ul class="toys"></ul>
</script>

<script type="text/template" id="toy-list-item-template">
  <li class="toy-list-item" data-id="<%%= toy.id %>" data-pokemon-id="<%%= toy.get('pokemon_id') %>">
    <%% _.each(["name", "happiness", "price"], function(attr){ %>
       <%%= attr + ': ' + toy.get(attr) + '<br>' %>
    <%% }); %>     
  </li>
</script>

<script type="text/template" id="toy-detail-template">
      <div class="detail">
        <%%= '<img src="' + toy.get('image_url') + '"><br>' %>
        <%% for (var attr in toy.attributes) { %>
          <%%  if(attr !== 'pokemon_id' && attr !== 'image_url') { %>
              <span style="font-weight:bold;">
              <%%= attr + ': ' %>
              </span>
              <%%= toy.get(attr) %>
              <br>
          <%% } %>
        <%% } %>

      <select data-pokemon-id="<%%= toy.get('pokemon_id') %>"
              data-toy-id="<%%= toy.get('id')%>">
        <%% pokes.forEach(function (pokemon) { %>
          <%% var selectd = (pokemon.id === toy.get('pokemon_id')) ? "selected" : ""%>        
          <option value="<%%= pokemon.get('id')%>" <%%= selectd %> >
          <%%= pokemon.get('name') %>
          </option>
        <%% }); %>
      </select>

</script>
