<form 
  action="/<%= target %>" method="POST">
  
  <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token %>">
    
  <Label>Username:</label>
  <input type="text" value="<%= user.username %>" name="<%=target %>[username]">
  
  <Label>Password:</label>
  <input type="password" name="<%= target %>[password]">
  
  <input type="submit" value="Log in">


</form>