<h1> Sign In </h1>
<form action="<%= session_url %>" method="POST">
  <%= render "layouts/form" %>
  
  <label for='username'>username</label>
  <input id='username' type='text' name='session[username]' value='<%= @user.username %>'><br>
  
  <label for='password'>password</label>
  <input id='password' type='password' name='session[password]'><br>
  
  <input type="submit" value='Sign In'>
  
</form>