<h3>Add a note</h3>
<form action='<%= notes_url %>' method='POST'>
	<input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">
  <input type='hidden' name='note[track_id]' value='<%= @track.id %>'>
  <textarea name='note[body]'><%= note.body %></textarea>
  <input type='submit'>
</form>