<% @track.notes.each do |note| %>
	<tr>
		<td><%= User.find(note.user_id).email %></td>
		<td><%= note.body %></td>
		<% if current_user == note.user %>
		<td><%= button_to "Delete", note_url(note), method: :delete %></td>
		<% end %>
	</tr>
<% end %>