<% form_type = (cat_rental_request.persisted? ? "PATCH" : "POST") %>
<% form_action = (cat_rental_request.persisted? ? cat_rental_request_url(cat_rental_request) : "/cat_rental_requests") %>
<% submit_field = (cat_rental_request.persisted? ? "Update cat rental request" : "Save cat rental request") %>


<form action="<%= form_action %>" method="POST">
  <input type="hidden" name="_method" value=<%= form_type %>>
  
  <select name="cat_rental_request[cat_id]" id="cat_rental_requests_cat_id">
    <option value="">Blank</option>
    <% Cat.all.each do |cat| %>
    <option value="<%= cat.id %>"  <%= "selected" if cat_rental_request.cat_id == cat.id %>>
    <%= cat.name %>
    </option>
    <% end %>
  </select>
  <br>
  
  <input type="date" name="cat_rental_request[start_date]" value=<%= cat_rental_request.start_date %>>
  <br>
  
  <input type="date" name="cat_rental_request[end_date]" value=<%= cat_rental_request.end_date %>>
  <br>
  
  <input type="submit" value=<%= submit_field %>>  
</form>