<h1>A Cat Rental Request</h1>

<table>
  <tr>
  <td>Cat: <%= @cat_rental_request.cat.name  %></td>
  <td>Start Date: <%= @cat_rental_request.start_date  %></td>
  <td>End Date: <%= @cat_rental_request.end_date  %></td>
  <td>Status: <%= @cat_rental_request.status  %></td>
  </tr>
</table>