
<form action='<%= comments_url %>' method='post'>
  <%= render 'layouts/form' %>
  <input type='hidden' name='comment[commentable_id]' value='<%= parent.id %>'>
  <input type='hidden' name='comment[commentable_type]' value='<%= parent.class %>'>
  <label for='body'>Comment</label>
  <textarea id='body' name='comment[body]' ></textarea>
  
  <input type='submit' class="submit" value='submit'>
  
</form>
  
