<!DOCTYPE html>
<html>
<head>
  <title>Blogger2</title>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="flash"><%= flash.notice %></p>
<%= yield %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>

</body>
</html>
