<h1><a href="<%= url_for(@post.url) %>"><%= @post.title %></a></h1>
<p><%= @post.content %></p>
<%= render "comments/comment", comments: @post_comments %>

<%= link_to "Post a comment", new_post_comment_url(@post) %>